body {
  background-color: white;
  background-image: url("Background.jpeg");
}

h1 {
	 text-align: center;
 color: white;
  font-size: 45px;
  font-family: georgia;
}

h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: georgia;
  background-color: transparent;
  margin-right: 190px;
  margin-left: 190px;
}

h3 {
	 text-align: center;
	 color: white;
  font-family: serif;
  font-style: italic;
  font-size: 15px;
}
p {
color: indigo;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;	
}
*{
	list-style: none;
}
.topnav {
	width: 100%;
	margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
}
.topnav a {
  float: left;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-family: serif;
  text-decoration: none;
  list-style: none;
  font-size: 17px;

}
 .topnav a:hover {
  background-color: indigo;

}
.paragraph {
	background-color: white;
	padding: 20px;
	margin: auto;
	width: 50%;
}
.index {
	width: 40%;
	background-color: transparent;
	padding: 30px;
	margin: auto;
	position: relative;
 	top: 70%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	}
.