body {
  background-color: white;
  margin: 0;
  background-image: url("Background.jpeg");
}

h1,h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: georgia;
  background-color: transparent;
  margin-right: 190px;
  margin-left: 190px;
}

h3 {
	color: lightslategray;
	text-align: center;
  font-family: serif;
  font-style: italic;
  font-size: 15px;
  background-color: white;
  margin-right: 190px;
  margin-left: 190px;
}
p {
color: indigo;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;	
  background-color: white;
  margin-right: 190px;
  margin-left: 190px;

}
*{
	list-style: none;
}
.topnav {
	width: 100%;
	margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: serif;
  text-decoration: none;
  list-style: none;
  font-size: 17px;

}
